.search-bar .container.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;

}

.search-bar .input{
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;

}